name: Run Tests

on:
    pull_request_target:
        branches:
            - main

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set up Bun
              uses: oven-sh/setup-bun@v1
              with:
                  bun-version: latest

            - name: Install dependencies
              run: bun install

            - name: Cache Playwright browsers
              uses: actions/cache@v4
              with:
                  path: ~/.cache/ms-playwright
                  key: playwright-browsers-${{ runner.os }}-${{ hashFiles('**/bun.lockb') }}
                  restore-keys: |
                      playwright-browsers-${{ runner.os }}-

            - name: Install Playwright Browsers
              run: bunx playwright install --with-deps

            - name: Run tests
              run: bun run test
